@model AbsensiViewModel
@{
    ViewData["Title"] = "Absensi Edit Data";
}

<h2>Form Edit Absensi</h2>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="EmployeeId">Employee Id</label>
        <input asp-for="EmployeeId" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="AbsentStartDate">Absensi Start Date</label>
        <input asp-for="AbsentStartDate" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="AbsentEndDate">Absent End Date</label>
        <input asp-for="AbsentEndDate" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input asp-for="Location" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
