@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-5">Contact Us</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>